/HotelReservationSystemLibrary/dist/
/HotelReservationSystemLibrary/build/
/build/
/ManagementClient/build/
/ReservationClient/build/
/HotelReservationSystem-ejb/dist/
/ManagementClient/dist/
/ReservationClient/dist/
/dist/
/HotelReservationSystem-ejb/build/
/HolidayClient/nbproject/private/
/HolidayClient/build/
/HolidayClient/dist/
/HotelReservationSystemJavaSeClient/nbproject/private/
/HotelReservationSystemJavaSeClient/build/
/HotelReservationSystemJavaSeClient/dist/
